/src/basics/ @shorodilov @Bandydan @Jules57
/src/vcs/    @shorodilov @Bandydan
/src/rdbms/  @shorodilov @Bandydan
/src/oop/    @shorodilov
/src/django/ @PonomaryovVladyslav @shorodilov
/src/deploy/ @PonomaryovVladyslav @shorodilov
