[submodule "problem-sets"]
	path = problem-sets
	url = git@github.com:edu-python-course/problem-sets
[submodule "blog-spec"]
	path = src/spec/blog
	url = git@github.com:edu-python-course/blog-spec
[submodule "libms-db"]
	path = libms-db
	url = git@github.com:edu-python-course/libms-db
[submodule "libms-spec"]
	path = src/spec/libms
	url = git@github.com:edu-python-course/libms-spec
[submodule "giver-spec"]
	path = src/spec/giver
	url = git@github.com:edu-python-course/giver-spec
[submodule "impress.js"]
	path = assets/impress.js
	url = https://github.com/impress/impress.js
