[submodule "problem-sets"]
	path = problem-sets
	url = git@github.com:edu-python-course/problem-sets
[submodule "src/appx/blog"]
	path = src/appx/blog
	url = git@github.com:edu-python-course/blog-spec
