[submodule "problem-sets"]
	path = problem-sets
	url = git@github.com:edu-python-course/problem-sets
[submodule "src/appx/blog"]
	path = src/spec/blog
	url = git@github.com:edu-python-course/blog-spec
[submodule "src/appx/libms"]
	path = src/spec/libms
	url = git@github.com:edu-python-course/libms-spec.git
[submodule "src/spec/giver"]
	path = src/spec/giver
	url = git@github.com:edu-python-course/giver-spec.git
[submodule "libms-db"]
	path = libms-db
	url = git@github.com:edu-python-course/libms-db.git
