<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Database normalization presentation - Python course">
  <meta name="author" content="Serhii Horodilov <sgorodil@gmail.com>">
  <meta name="licence" content="MIT">
  <title>Database Normalization</title>
</head>
<body>
<div id="impress"
     data-transition-duration="1000"

     data-width="800"
     data-height="600"
     data-max-scale="3"
     data-min-scale="0"
     data-perspective="1000">

  <div class="step" id="overview" data-x="0" data-y="-250" data-scale="5"></div>

</div>
</body>
</html>
