/**
  Common presentation stylesheet

 */

/**
  Fallback message is only visible when there is `impress-not-supported` class
  on body. This class means, that browser doesn't support features required by
  impress.js framework.

  If the script detects that browser supports all required features, this class
  will be removed.
 */
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;

  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;

  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;

  p {
    margin-bottom: 10px;
  }
}

.impress-supported {
  .fallback-message {
    display: none;
  }
}

// hide all presentation steps if impress.js is not supported
.impress-not-supported {
  .step {
    display: none;
  }
}

/* transitions */
$transition: 2000ms;
$transition-delay: 1000ms;

/* colors */
// todo: adjust colors
$background: #212121;
$on-background: white;
$surface: #212121;
$on-surface: white;
$primary: #212121;
$on-primary: white;
$secondary: #212121;
$on-secondary: white;

$invalid-data: red;
$lost-data: orange;

body {
  background: $background;
}

/* fonts and icons */
$base-font-size: 3.75rem;
$title: $base-font-size * 2.5;
$subtitle: $base-font-size *2;
$section: $base-font-size * 1.5;

$checkMarkIcon: url("../../../assets/icons/check-mark-svgrepo-com.svg");
$crossMarkIcon: url("../../../assets/icons/cross-mark-svgrepo-com.svg");

.i {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: auto 0.5em;
}

.i-pass {
  @extend .i;
  background-image: $checkMarkIcon;
  background-size: contain;
}

.i-fail {
  @extend .i;
  background-image: $crossMarkIcon;
  background-size: contain;
}

body {
  font-size: $base-font-size;

  h1 {
    font-size: $title
  }

  h2 {
    font-size: $subtitle
  }

  h3 {
    font-size: $section
  }

  small {
    font-size: $base-font-size * 0.5;
  }
}

/* content align */
.text-start {
  text-align: start
}

.text-center {
  text-align: center
}

.text-end {
  text-align: end
}

h1, h2, h3, caption {
  @extend .text-center;
  margin: 0 auto;
}

/* impress presentation */
$step-width: 1800px;

#impress {
  pointer-events: none;

  .step {
    display: block;
    position: relative;
    width: $step-width;
    padding: 60px;

    background-color: $surface;
    color: $on-surface;
  }

  .title,
  #title {
    h1 {
      font-size: $title * 2;
    }

    h2 {
      font-size: $subtitle * 2;
    }
  }

  .overview,
  #overview {
    position: fixed;
    background: none;
    display: none;
  }

  .db-table {
    width: 75%;

    margin-bottom: 20px;

    font-family: Monospaced, monospace;
    font-size: $base-font-size * 0.75;

    .primary-key {
      background-color: rgba(125, 125, 125, 0.1);
    }

    th, td {
      padding: 1svh 3svw;
    }

    th {
      @extend .text-center;

      font-weight: bold;
      font-size: $base-font-size * 0.8;

      background-color: $secondary;
      color: $on-secondary;
    }
  }

  .description {
    padding: 0 20px;
  }
}

/* 4th dimension */
#impress {
  .future {
    .fade-in {
      opacity: 0.0;
    }

    .fly-in {
      opacity: 0.0;
      transform: translateY(2200px);
    }
  }

  .present {
    .fade-in {
      opacity: 1.0;
      transition: $transition;
    }

    .fly-in {
      opacity: 1.0;
      transform: translateY(0px);
      transition: $transition;
    }
  }

  .past {
    .fade-out {
      opacity: 0.0;
      transition: $transition;
    }
  }

}