@import "./presentation-common";

#normalization[aria-roledescription=presentation] {
  #definition {
    width: $step-width * 0.66;
    padding: 0 0 120px 120px;
  }

  .requirements {
    h3 {
      @extend .text-start;
      text-decoration: underline;
    }
  }

  #update-anomalies {
    .invalid-data {
      position: relative;

      .updated-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  #update-anomalies.future {
    span.fade-out {
      opacity: 1.0;
    }

    span.fade-in {
      opacity: 0.0;
    }
  }

  #insertion-anomalies.future {
    .invalid-data {
      opacity: 0.0;
    }
  }

  #insertion-anomalies.present {
    .invalid-data {
      border: 1px solid $invalid-data;
      opacity: 1.0;
      transition: $transition;
      transition-delay: $transition-delay + $transition;
    }

    .lost-data {
      color: $lost-data;
      transition: $transition;
      transition-delay: $transition-delay + $transition;
    }
  }

  #insertion-anomalies.past {
    .invalid-data {
      border: 1px solid $invalid-data;
    }

    .lost-data {
      color: $lost-data;
    }
  }

  #update-anomalies.present {
    span.fade-out {
      opacity: 0.0;
      transition: $transition;
      transition-delay: $transition-delay;
    }

    span.fade-in {
      opacity: 1.0;
      transition: $transition;
      transition-delay: $transition + $transition-delay;
    }

    .invalid-data {
      color: $invalid-data;
    }
  }

  #update-anomalies.past {
    .invalid-data {
      color: $invalid-data;
    }
  }

  #deletion-anomalies.future {
    td.fade-out {
      opacity: 1.0;
    }
  }

  #deletion-anomalies.present {
    td.fade-out {
      color: red;
      opacity: 0.0;
      transition: $transition;
      transition-delay: $transition-delay;
    }

    td.lost-data {
      color: $lost-data;
      transition: $transition;
      transition-delay: $transition + $transition-delay;

      &:nth-child(odd) {
        transform: rotate(-7deg);
      }

      &:nth-child(even) {
        transform: rotate(7deg);
      }
    }
  }

  #deletion-anomalies.past {
    td.lost-data {
      color: $lost-data;

      &:nth-child(odd) {
        transform: rotate(-7deg);
      }

      &:nth-child(even) {
        transform: rotate(7deg);
      }
    }
  }

  #mixed-data-types--1nf,
  #repeating-groups--1nf,
  #table--1nf,
  #non-key-attrs--2nf,
  #table--2nf,
  #transitive-deps--3nf,
  #table--3nf {
    ul {
      list-style: none;

      li {
        font-size: $base-font-size * 0.65;
      }
    }
  }

  #mixed-data-types--1nf,
  #repeating-groups--1nf {
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    table {
      margin-right: auto;
      margin-left: auto;
      width: 50%;
    }

  }

  #mixed-data-types--1nf.future,
  #repeating-groups--1nf.future {
    .fly-in:first-of-type {
      transform: translateX(-2200px);

    }

    .fly-in:last-of-type {
      transform: translateX(2200px);
    }

    .fly-in {
      opacity: 0.0;
      transition-delay: $transition-delay;
    }
  }

  #table--3nf {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    align-items: start;

    table {
      margin: 30px auto;
    }
  }

  #table--3nf.future {
    section:first-of-type {
      .fly-in {
        transform: translateY(-2200px);
      }
    }

    section:last-of-type {
      .fly-in {
        transform: translateY(2200px);
      }
    }

    section {
      .fly-in {
        opacity: 0.0;
      }
    }
  }

  #table--3nf.present {
    section {
      .fly-in {
        transform: translateY(0px);
        opacity: 1.0;
        transition: $transition;
        transition-delay: 1000ms;
      }
    }
  }
}
