#title {
  height: 200px;

  h1 {
    text-align: center;
    font-size: 4rem;
  }
}

#definition {
  width: 400px;
  height: 400px;

  p {
    position: relative;
    top: 20%;
    left: 25%;
    font-size: 1.25rem;
    font-style: italic;
  }
}
